In [1]:
x=5
print(f"{x:-^9}")

----5----

In [2]:
import pandas as pd
pd.__version__

'1.3.5'

In [40]:
cheap_calendar = {
    'mon':[None,3,10,17,24,31],
    'tue':[None,4,11,18,25,None],
    'wed':[None,5,12,19,26,None],
    'thu':[None,6,13,20,27,None],
    'fri':[None,7,14,21,28,None],
    'sat':[1,8,15,22,29,None],
    'sun':[2,9,16,23,30,None],
}

In [41]:
a = pd.Series(cheap_calendar)
print(a)

mon      [None, 3, 10, 17, 24, 31]
tue    [None, 4, 11, 18, 25, None]
wed    [None, 5, 12, 19, 26, None]
thu    [None, 6, 13, 20, 27, None]
fri    [None, 7, 14, 21, 28, None]
sat       [1, 8, 15, 22, 29, None]
sun       [2, 9, 16, 23, 30, None]
dtype: object

In [43]:
df = pd.DataFrame(cheap_calendar)
print('July\n',df)

July
     mon   tue   wed   thu   fri   sat   sun
0   NaN   NaN   NaN   NaN   NaN   1.0   2.0
1   3.0   4.0   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0  15.0  16.0
3  17.0  18.0  19.0  20.0  21.0  22.0  23.0
4  24.0  25.0  26.0  27.0  28.0  29.0  30.0
5  31.0   NaN   NaN   NaN   NaN   NaN   NaN

In [45]:
df['mon']

0     NaN
1     3.0
2    10.0
3    17.0
4    24.0
5    31.0
Name: mon, dtype: float64

In [57]:
df.isnull().sum()

mon    1
tue    2
wed    2
thu    2
fri    2
sat    1
sun    1
dtype: int64